/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #00A368;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 12%;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 50px;
    outline: none;
    resize: none;
    font-size: 1em;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 25px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 50px;
    text-transform: uppercase;
    border: none;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}