* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #00A368;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}

h1 {
    margin-top: 8%;
    padding-bottom: 2%;
    color: #fff;
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    font-size: 2em;
    color: #222;
    padding: 15px;
    text-align: center;
}

input {
    font-size: 1em;
    width: 200px;
    padding: 5px;
    text-align: center;
}

button {
    font-size: 1em;
    padding: 0.5rem;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    outline: none;
}